{
  "Umbraco": {
    "CMS": {
      "Unattended": {
        "InstallUnattended": true,
        "UnattendedUserName": "Test Admin",
        "UnattendedUserEmail": "admin@example.test",
        "UnattendedUserPassword": "<generate a throwaway password here>"
      }
    }
  }
}
